body {
    font-family: "Montserrat", sans-serif;
    background-color: #101417;
    color: white;
}

header {
    margin: 18px auto;
    max-width: 90%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-logo {
    max-width: 175px;
    max-height: 45px;
}

header img {
    max-width: 100%;
}

header .header-form {
    list-style-type: none;
}

header .header-form li {
    display: inline-block;
    margin-right: 75px;
}

header .header-form a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;

    transition: 0.5s ease;
}

header .header-form a:hover {
    color: #b7b7b7;
}

header .header-form__profile {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;


}

header .header-form__profile .header-form__profile__link {
    margin-right: 25px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    max-width: 34px;
    max-height: 34px;

    transition: 0.5s ease;
}

header .header-form__profile .header-form__profile__link {
    color: #b7b7b7;
}

button {
    height: 32px;
    font-size: 15px;
    padding: 0px 15px;

    border-radius: 12px;
    background: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #101417;
    color: #d9d9d9;
}

button:active {
    background-color: #101417;
}

button:focus {
    outline: none;
}

button[disabled] {
    opacity: 0.48;
    pointer-events: none;
    user-select: none;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.75;
}

.error {
    color: red;
}

* {
    box-sizing: border-box;
}

.line-underheader {
    border: 0;
    border-top: 2px solid #cdcdcd;
}

body .card-form {
    margin: 10px;
    background-color: #0A0C0E;
    /*border: 2px solid orange;*/
    padding: 20px 30px 20px 10px;
    border-radius: 12px;

    width: 500px;

    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr);
    gap: 1em;
}

.card-form .card-form_image {
    width: auto;
    height: auto;
    justify-content: center;
    display: flex;
}

.card-form .card-form_image img {
    object-fit: contain;
    border-radius: 12px;
    /*max-width: 100%;*/
    width: 200px;
}

.card-form .card-form_details {
    display: flex;
    flex-direction: column;
}

.card-form .card-form_details .card-form_title {
    position: relative;
    /*text-align: justify;*/
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.card-form .card-form_details .card-form_description {
    position: relative;
    word-spacing: 6px;
    font-weight: 400;
    /*text-align: justify;*/
}

.card-form .card-form_details .card-form_stars {
    position: relative;
    /*text-align: justify;*/
    font-size: 28px;
    font-weight: 900;
}

.card-form .card-form_details .card-form_buttons {
    margin-block-start: auto;
    /*position: absolute;*/
    /*bottom: 0;*/
}

.suggestion-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 1em;

    padding: 20px 30px 20px 30px;
}

.suggestion-form .suggestion-form_internal {
    background-color: white;
    width: 100px;
    background: none;
    display: grid;
    /*justify-items: center;*/
}

.suggestion-form .suggestion-form_internal > img {
    object-fit: contain;
    border-radius: 12px;
    cursor: pointer;
}

.suggestion-form .suggestion-form_title {
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 18px;
    justify-items: left;
}

.suggestion-form .suggestion-form_title > a {
    color: white;
}

.suggestion-form .suggestion-form_status {
    padding: 5px 0px 15px 10px;
    font-size: 14px;
    font-weight: 300;
    justify-items: left;
}

.suggestion-form .suggestion-form_status > a {
    color: darkseagreen;
}