block variables
    -
        var headerLinks = [
            {className: 'homePage', title: 'Главная'},
            {className: 'filmPage', title: 'Фильмы'},
            {className: 'serialsPage', title: 'Сериалы'},
            {className: 'lastPage', title: 'Последнее'}
        ]

    -
        var cardFilms = [
            {
                src: '../../assets/st.jpeg',
                alt: '',
                className: 'film_link_1',
                title: 'Очень странные дела',
                stars: '* * * * *',
                className: 'film_link_1',
                description: 'Очень странные дела — американский научно-фантастический сериал, созданный братьями Даффер для сети потокового мультимедиа Redioteka',
            },
            {
                src: '../../assets/st.jpeg',
                alt: '',
                className: 'film_link_1',
                title: 'Очень странные дела',
                stars: '* * * * *',
                className: 'film_link_1',
                description: 'Очень странные дела — американский научно-фантастический сериал, созданный братьями Даффер для сети потокового мультимедиа Redioteka',
            },
            {
                src: '../../assets/st.jpeg',
                alt: '',
                className: 'film_link_1',
                title: 'Очень странные дела',
                stars: '* * * * *',
                className: 'film_link_1',
                description: 'Очень странные дела — американский научно-фантастический сериал, созданный братьями Даффер для сети потокового мультимедиа Redioteka',
            },
        ]

    -
        var suggestionsFilms = [
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Подписка'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Платно'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Бесплатно'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Бесплатно'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Подписка'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Платно'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Бесплатно'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Бесплатно'},
            ]

block header
    include ../../components/Header/header

block content
    div.item__page-title Фильмы недели

    div.container
        each i in cardFilms
            include ../../components/FilmCard/FilmCard


    include ../../components/SuggestionBar/SuggestionBar

    div.item__page-title Рекомендуемые фильмы

    div.suggestion-film__list
        each i in suggestionsFilms
            include ../../components/SuggestionCard/SuggestionCard


    div.item__page-title Рекомендуемые сериалы

    div.suggestion-film__list
        each i in suggestionsFilms
            include ../../components/SuggestionCard/SuggestionCard
