block variables
    -
        var headerLinks = [
            {title: 'Главная'},
            {title: 'Фильмы'},
            {title: 'Сериалы'},
            {title: 'Последнее'}
        ]

    -
        var headerIcons = [
            {href:'#', src: '../../assets/search.png', alt:''},
            {href:'#', src: '../../assets/star.png', alt:''},
            {href:'#', src: '../../assets/profile.png', alt:''}
            ]

    -
        var cardFilms = [
            {src: '../../assets/st.jpeg', alt: '', title: 'Очень странные дела', stars: '* * * * *', description: 'Очень странные дела — американский научно-фантастический сериал, созданный братьями Даффер для сети потокового мультимедиа Redioteka', },
            {src: '../../assets/st.jpeg', alt: '', title: 'Очень странные дела', stars: '* * * * *', description: 'Очень странные дела — американский научно-фантастический сериал, созданный братьями Даффер для сети потокового мультимедиа Redioteka', },

            {
                src: '../../assets/st.jpeg',
                alt: '',
                title: 'Очень странные дела',
                stars: '* * * * *',
                description: 'Очень странные дела — американский научно-фантастический сериал, созданный братьями Даффер для сети потокового мультимедиа Redioteka',
            },
            {
                src: '../../assets/st.jpeg',
                alt: '',
                title: 'Очень странные дела',
                stars: '* * * * *',
                description: 'Очень странные дела — американский научно-фантастический сериал, созданный братьями Даффер для сети потокового мультимедиа Redioteka',
            },
            {
                src: '../../assets/st.jpeg',
                alt: '',
                title: 'Очень странные дела',
                stars: '* * * * *',
                description: 'Очень странные дела — американский научно-фантастический сериал, созданный братьями Даффер для сети потокового мультимедиа Redioteka',
            },
            {
                src: '../../assets/st.jpeg',
                alt: '',
                title: 'Очень странные дела',
                stars: '* * * * *',
                description: 'Очень странные дела — американский научно-фантастический сериал, созданный братьями Даффер для сети потокового мультимедиа Redioteka',
            },
        ]

    -
        var suggestionsFilms = [
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Подписка'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Платно'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Бесплатно'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Бесплатно'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Подписка'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Платно'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Бесплатно'},
            {src: '../../assets/joker.jpeg', alt: '', title: 'Джокер', status: 'Бесплатно'},
            ]


block header
    include ../../components/Header/header

block content
    div.item__page-title
        h1  Фильмы недели
    div.container
        each i in cardFilms
            include ../../components/CardForm/CardForm

    div.item__page-title
        h1  Рекомендуемые фильмы
    include ../../components/SuggestionForm/SuggestionForm
