extends ../../views/BaseView/BaseView

block content
    div.loader
        div.loader__bar
        div.loader__bar
        div.loader__bar
        div.loader__bar
        div.loader__bar
        div.loader__ball
