@import '../../css/Consts';

.item__suggestion {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 1em;

  padding: 20px 30px 20px 30px;
}

.suggestion-film__list {
  display: flex;
  overflow-x: auto;
  height: 356px;
  gap: 1em;
  padding-top: 10px;
  padding-bottom: 10px;

  .item__internal:first-child {
    margin-left: 30px;
  }

  .item__internal {
    cursor: pointer;
    margin-left: 20px;
    width: 180px;
    background: none;
    display: grid;
    transition: all 0.15s ease-in-out;

    .item__suggestion__image {
      object-fit: contain;
      border-radius: 12px;
    }
  }

  .item__internal:hover {
    transform: translateY(-5px) scale($suggestion-card-scale);
  }

  .item__suggestion__title {
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 500;
    font-size: $suggestion-card-title;
    justify-items: left;

    > a {
      text-decoration: none;
      color: $title-color;
    }
  }

  .item__suggestion__status {
    padding: 5px 0 15px 10px;
    font-size: $suggestion-card-status;
    font-weight: 300;
    justify-items: left;
    color: $status-color;
  }
}
