include ../FilmCard/FilmCard

mixin TopSlider (cardFilms)
    each i in cardFilms
        +FilmCardCreate(i)
    div.slider__actions
        img(class="slider__item slider__item-left js-slider-left" src= "../../assets/SliderLeftButton.png" alt= "")
        img(class="slider__item slider__item-right js-slider-right" src= "../../assets/SliderRightButton.png" alt= "")
