include ../Input/Input.pug

mixin form(inputs, buttonName)
    form(novalidate)
        div.form_content__inputs
            div.inputs__input-field
                for input in inputs
                    div.inputs__input-field
                        +customInput(input.type, input.class, input.placeholder, input.id)
                        div.error(id = input.id+'Error')
        button.form-content__button #{buttonName}
