block variables
    -
        var headerLinks = [
                    {className: 'homePage', title: 'Главная'},
                    {className: 'filmPage', title: 'Фильмы'},
                    {className: 'serialsPage', title: 'Сериалы'},
                    {className: 'lastPage', title: 'Последнее'}
                ]

    -
        var headerIcons = [
            {id: 'searchPage', href: '#', src: '../../assets/search.png', alt: ''},
            {id: 'favouritePage', href: '#', src: '../../assets/star.png', alt: ''},
            {id: 'profilePage', href: '#', src: '../../assets/profile.png', alt: ''}
        ]

block style
    style
        include ../../index.css

block header
    include ../../components/Header/Header

block content
    include ../../components/DetailForm/DetailForm

