block variables

block header
    include ../../components/Header/Header

block content
    include ../../components/DetailForm/DetailForm

    div.video-player__container
        include ../../components/VideoPlayer/VideoPlayer
