.header-form__search-popup {

  .search-popup__popup {
    cursor: default;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    overflow-y: auto;

    .popup__close {
      position: absolute;
      right: 32px;
      top: 32px;
      width: 32px;
      cursor: pointer;
    }

    .popup__popup-body {
      min-height: 100%;
      display: flex;
      justify-content: center;
      padding: 30px 10px;
      overflow-x: hidden;
      overflow-y: auto;

      .popup-body__popup-wrapper {
        cursor: default;
        height: 100%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        .popup-wrapper__title {
          font-size: 30px;
          color: white;
          margin-bottom: 12px;
        }

        .popup-wrapper__search-results {
          margin-top: 8px;

          .search-results__title {
            font-size: 20px;
            color: white;
          }

          .search-results__body {
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
