@import '../../css/consts';

.item__film-card {
  margin: 10px 30px;
  background-color: $card-form-background-color;
  padding: 20px 30px 20px 10px;
  border-radius: 12px;

  width: 500px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  .item__image {
    width: 220px;
    height: 300px;
    justify-content: center;
    display: flex;

    img {
      object-fit: contain;
      border-radius: 12px;
      width: 220px;
      height: 300px;
      cursor: pointer;
    }
  }

  .item__details {
    display: flex;
    flex-direction: column;
    width: 220px;

    .item__film-card__title {

      > a {
        text-decoration: none;
        color: white;
      }

      position: relative;
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 10px;
    }

    .item__film-card__stars {
      position: relative;
      font-size: 28px;
      font-weight: 900;
    }

    .item__film-card__description {
      position: relative;
      word-spacing: 6px;
      font-weight: 400;
    }

    .item__film-card__buttons {
      margin-block-start: auto;
    }
  }
}


