div.card-form
    div.card-form_image
        img(src= i.src
            alt= i.alt)
    div.card-form_details
        div.card-form_title
            a(href= "#")= i.title

        div.card-form_stars= i.stars

        div.card-form_description= i.description

        div.card-form_buttons
            button Смотреть
            button Инфо