$card-form-background-color: #0A0C0E;

.card-form {
  margin: 30px;
  background-color: $card-form-background-color;
  padding: 20px 30px 20px 10px;
  border-radius: 12px;

  width: 500px;

  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr);
  gap: 1em;

  .card-form_image {
    width: auto;
    height: auto;
    justify-content: center;
    display: flex;

    img {
      object-fit: contain;
      border-radius: 12px;
      width: 276px;
      height: 300px;
      cursor: pointer;
    }
  }

  .card-form_details {
    display: flex;
    flex-direction: column;

    .card-form_title {

      > a {
        color: white;
      }
      position: relative;
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 10px;
    }

    .card-form_description {
      position: relative;
      word-spacing: 6px;
      font-weight: 400;
    }

    .card-form_stars {
      position: relative;
      font-size: 28px;
      font-weight: 900;
    }

    .card-form_buttons {
      margin-block-start: auto;
    }
  }
}