div.item__suggestion-bar
    div.item__suggestion-button
        div.items__container
            img.item__image(src= '../../assets/subscription.webp' alt= '')
            div.item__title Оформить подписку

    div.item__suggestion-button
        div.items__container
            img.item__image(src= '../../assets/findmedia.webp' alt= '')
            div.item__title Подборка медиа
