mixin SuggestionBar ()
    div.item__suggestion-bar
        div(class="item__suggestion-bar-button" href="/favourite")
            div.items__container
                img.item__image(src= '../../assets/subscription.webp' alt= '')
                div.item__title Оформить подписку

        div(class="item__suggestion-bar-button" href="/favourite")
            div.items__container
                img.item__image(src= '../../assets/findmedia.webp' alt= '')
                div.item__title Избранное
