include ../SuggestionCard/SuggestionCard

div.content__actor-info
    div.actor-info__avatar
        img.actor-info__avatar_src(src= actor_avatar)
    div.actor-info__name-born
        div.name-born__name= name
        div.name-born__born= born

div.suggestion-film__list.genres_content
    each i in movies
        +SuggestionCardCreate (i)
