div.suggestion-form
    each i in suggestionsFilms
        div.suggestion-form_internal
            img(src= i.src
                alt= i.alt)
            div.suggestion-form_title
                a(href= "#")= i.title
            div.suggestion-form_status
                a(href= "#")= i.status

