.suggestion-slider__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
}

.suggestion-slider__item {
  width: 56px;
  height: 56px;
  cursor: pointer;
  transition: 0.24s ease-in-out;
  visibility: hidden;
}

.suggestion-slider__item-left {
  margin-left: 20px;
}

.suggestion-slider__item-right {
  margin-right: 20px;
}

.suggestion-slider__item:hover {
  transform: scale(1.2);
}
