include ../SuggestionCard/SuggestionCard

mixin BottomSlider (content)
    each i in content
        +SuggestionCardCreate(i)
    //div.suggestion-slider__actions
    //    img(class="suggestion-slider__item suggestion-slider__item-left js-suggestion-slider-left" src= "../../assets/SliderLeftButton.png" alt= "")
    //    img(class="suggestion-slider__item suggestion-slider__item-right js-suggestion-slider-right" src= "../../assets/SliderRightButton.png" alt= "")
    //div kek
