- var isAuthenticated = true

-
    var headerIconsUnlogined = [
        {href:'#', src: '../../assets/search.png', alt:''},
        {href:'#', src: '../../assets/unlogined.png', alt:''}
    ]

header
    a(href= "#" ).header-logo
        img(src= "../../assets/RediotekaLogo.png" alt= "")

    ul.header-form
        each i in headerLinks
            li
                a(href= "#")= i.title

    if isAuthenticated
        div.header-form__profile
            each i in headerIcons
                a(href= i.href ).header-form__profile__link
                    img(src= i.src alt= i.alt)
    else
        div.header-form__profile
            each i in headerIconsUnlogined
                a(href= i.href ).header-form__profile__link
                    img(src= i.src alt= i.alt)

include ../Underline/Underline
