block variables
-
    const headerIcons = [];

    if (isAuthorized) {
        headerIcons.push(
                {className: '', href: '/profile', title: 'Профиль', alt: ''},
                {className: 'js-logout-page', href: '', title: 'Выйти', alt: ''}
        );
    }

    const headerLinks = [
        {className: 'homePage js-home-link', href:'/home',  title: 'Главная'},
        {className: 'filmPage js-films-link', href:'/movies', title: 'Фильмы'},
        {className: 'serialsPage js-serials-link', href:'/serials', title: 'Сериалы'},
        {className: 'lastPage js-latest-link', href:'/last', title: 'Последнее'}
    ]

header
    a(class= 'homePage js-home-link' href= "" ).header-logo
        img(src= "../../assets/RediotekaLogo.png" alt= "")

    ul.header-form
        each i in headerLinks
            li
                a(href=i.href)= i.title

    if isAuthorized
        div.header-form__profile
            a(class= 'header-form__profile__link item__right-link js-search-button')
                img(src= '../../assets/search.png')
            div.dropdown-profile
                img(class="dropdown-profile__image" src='../../assets/profileDropdown.png')
                div(class="dropdown-profile__content")
                    each i in headerIcons
                        a(class='item__dropdown-profile ' +  i.className)= i.title
    else
        div.header-form__profile
            a(class= 'header-form__profile__link' href='/search')
                img(src= '../../assets/search.png')
            a(class= 'header-form__profile__link' href='/login')
                img(src= '../../assets/unlogined.png')
