@import '../../css/Consts';

$transition-time: 0.25s;

header {
  margin: 16px auto;
  max-width: 90%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo {
    max-width: 176px;
    max-height: 44px;
  }

  img {
    max-width: 85%;
  }

  .header-form {
    list-style-type: none;

    li {
      display: inline-block;
      margin-right: 75px;
    }

    a {
      display: block;
      text-decoration: none;
      color: white;
      font-size: $header-font-size;
      font-weight: 500;

      transition: $transition-time ease;
    }

    a:hover {
      color: #b7b7b7;
    }
  }

  .header-form__profile {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;

    .header-form__profile__link {
      //margin-right: 24px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      max-width: 34px;
      max-height: 34px;

      cursor: pointer;

      transition: $transition-time ease;
      color: #b7b7b7;
    }
  }
}

/* Dropdown Button */
.dropbtn {
  border: none;
  max-height: 34px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    border-radius: 12px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    background-color: #0A0C0E;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;

    a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    a:hover {
      border-radius: 12px;
      background-color: #0e1212;
    }
  }
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  opacity: 0.8;
}
