-
    var headerIcons = []

-
    var headerLinks = [
        {
            className: '',
            href: '/',
            title: 'Главная'
        },
        {
            className: '',
            href: '/movies',
            title: 'Фильмы'
        },
        {
            className: '',
            href: '/series',
            title: 'Сериалы'
        },
    ];

if isAuthorized
    -
        headerIcons = [
            {
                className: '',
                href: '/profile',
                title: 'Профиль',
            },
            {
                className: '',
                href: '/favourite',
                title: 'Избранное'
            },
            {
                className: 'js-logout-page',
                href: '',
                title: 'Выйти',
            }
        ]

header
    a(class= '' href= "/" ).header-logo
        img(src= "../../assets/RediotekaLogo.png" alt= "")

    ul.header-form
        each i in headerLinks
            li
                a(class= i.className href=i.href)= i.title

    if isAuthorized
        div.header-form__profile
            div.js-search-popup(class= 'header-form__profile__link')
                img(src= '../../assets/search.png')
                div.header-form__search-popup
            div.dropdown-profile
                img(class="dropdown-profile__image" src='../../assets/profileDropdown.png')
                div(class="dropdown-profile__content")
                    each i in headerIcons
                        a(class='item__dropdown-profile ' + i.className  href=i.href)= i.title
    else
        div.header-form__profile
            div.js-search-popup(class= 'header-form__profile__link')
                img(src= '../../assets/search.png')
                div.header-form__search-popup
            a(class= 'header-form__profile__link' href='/login')
                img(src= '../../assets/unlogined.png')
