header
    a(class= 'homePage' href= "" ).header-logo
        img(src= "../../assets/RediotekaLogo.png" alt= "")

    ul.header-form
        each i in headerLinks
            li
                a(class= i.className href="")= i.title

    if isLogined
        div.header-form__profile
            a(class= 'header-form__profile__link js-search-button')
                img(src= '../../assets/search.png')
        div.dropdown
            img(class="dropbtn" src='../../assets/profileDropdown.png')
            div(id="myDropdown" class="dropdown-content")
                each i in headerIcons
                    a(class='header-form__profile__link ' +  i.className)= i.title
    else
        div.header-form__profile
            a(class= 'header-form__profile__link js-search-button')
                img(src= '../../assets/search.png')
            a(class= 'header-form__profile__link js-login-page')
                img(src= '../../assets/unlogined.png')


include ../Underline/Underline
