@import '../../css/Consts';

$transition-time: 0.25s;

header {
  margin: 16px auto;
  max-width: 90%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo {
    max-width: 176px;
    max-height: 44px;
  }

  img {
    max-width: 85%;
  }

  .header-form {
    list-style-type: none;

    $self: &;

    li {
      display: inline-block;
      margin-right: 75px;
    }

    a {
      display: block;
      text-decoration: none;
      color: white;
      font-size: $header-font-size;
      font-weight: 500;

      transition: $transition-time ease;
    }

    a:hover {
      color: #b7b7b7;
    }
  }

  .header-form__profile {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;

    .header-form__profile__link {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      max-width: 34px;
      max-height: 34px;

      margin-right: 10px;

      cursor: pointer;

      transition: $transition-time ease;
      color: #b7b7b7;
    }

    .dropdown-profile {
      cursor: pointer;
      display: inline-block;

      &__image {
        border: none;
        max-height: 34px;
      }

      &__content {
        border-radius: 12px;
        cursor: pointer;
        position: absolute;
        right: 0;
        background-color: $dropdown-background;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;

        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.3s;

        .item__dropdown-profile {
          color: white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;

          &:hover {
            border-radius: 12px;
            background-color: $dropdown-background-hovered;
          }
        }
      }
      &:hover {
        .dropdown-profile__content {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
