header
    a(href= "#" ).header-logo
        img(src= "../../assets/RediotekaLogo.png"
            alt= "")

    ul.header-form
        each i in headerLinks
            li
                a(class= i.className href= "#")= i.title

    div.header-form__profile
        each i in headerIcons
            a.button__logout(id= i.id href= i.href).header-form__profile__link
                img(src= i.src alt= i.alt)

include ../Underline/Underline

