include ../../components/Form/Form.pug

-
    const inputWrapper = [
        {for: "firstName", text: "Имя", type: "text", id: "firstName", placeholder: "Иван", value: "Никита"},
        {for: "secondName", text: "Фамилия", type: "text", id: "secondName", placeholder: "Иванов", value: "Волков"},
        {for: "login", text: "Логин", type: "text", id: "login", placeholder: "ivanchik", value: "nikitavolkov1707"},
        {for: "email", text: "Почта", type: "email", id: "email", placeholder: "ivanchik@mail.ru", value: "nikitavolkov1707@gmail.com"}
    ]

div.profile
    div.profile__profile-content
        div.profile-content__title-wrapper
            div.title-wrapper__title Настройки профиля:
            div.title-wrapper__nickname nikitavolkov1707
        div.profile-content__inputs
            +form(inputs, buttonName, inputWrapper)
