$spinner-size: 50px;

.video-player__container {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes showing {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes hiding {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.video-player__show-animation {
  animation: showing 0.5s;
  animation-fill-mode: forwards;
}

.video-player__hide-animation {
  animation: hiding 0.5s;
  animation-fill-mode: forwards;
}

.video-player {
  width: 100%;
  top: 0;
  left: 0;

  $self: &;
  position: relative;

  .spinner {
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: $spinner-size;
    height: $spinner-size;
    box-sizing: border-box;
    position: absolute;
    border: 12px solid transparent;
    border-top-color: #f5f5f5;
    border-radius: 50%;
    animation: spinnerElement 1.2s linear infinite;
  }

  .video-player__close-button {
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
    img {
      width: 32px;
      height: 32px;
    }
    z-index: 10;
  }

  &__black-background-view {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: black;
  }

  &__video {
    width: 100%;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    z-index: 1;

    #{$self}__fullscreen & {
      max-width: 100%;
      height: 100%;
    }
  }

  &__lines {
    position: relative;
    flex: 0 0 100%;
    height: 18px;
    margin-bottom: 8px;
    cursor: pointer;
  }

  &__hint {
    pointer-events: none;
    position: absolute;
    bottom: calc(100% + 10px);
    opacity: 0;
    padding: 3px 6px;
    border-radius: 5px;
    background-color: rgba(#000, 0.5);
    transition: opacity 0.15s ease-in-out;

    #{$self}__lines:hover & {
      opacity: 1;
    }
  }

  &__line {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 8px;
    left: 0;

    transition: all 0.15s ease-in-out;
    transition-property: top, bottom ;

    &-full {
      z-index: 3;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
    }

    &-ghost {
      z-index: 4;
      background: green;
    }

    &-current {
      z-index: 5;
      background: #95302F;
    }

    #{$self}__lines:hover & {
      top: 0px;
      bottom: 4px;
    }
  }

  &__panel {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    justify-content: space-between;
  }

  &__panel-block {
    display: flex;
    align-items: center;
  }

  &__title-container {
    display: flex;
    .title__item:last-child {
      margin-left: 15px;
    }
  }

  &__panel-button {
    position: relative;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
    bottom: 6px;
    padding: 2px;
    margin-left: 2px;
    margin-right: 4px;
    font-size: 18px;
    img {
      width: 24px;
    }
  }

  &__panel-button:first-child {
    margin-left: 8px;
  }
  &__panel-button:last-child {
    margin-right: 8px;
  }

  &__volume {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
      background-color: white;
      border-radius: 50%;
      transition: all 0.15s ease-in-out;

      &:hover {
        background-color: #fff;
        width: 16px;
        height: 16px;
      }
    }

    transform: rotate(0.25turn) scale(-1, 1);
    position: absolute;
    -webkit-appearance: none;
    left: -180%;
    bottom: 90px;
    z-index: 6;
    visibility: hidden;
    margin-left: 0;
    border-radius: 3px;
    background-color: rgba(#fff, 0.2);
    outline: none;
    opacity: 0;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    #{$self}__panel-button-volume:hover & {
      visibility: visible;
      opacity: 1;
      transform: rotate(0.25turn) scale(-1, 1);
      position: absolute;
      left: -180%;
      bottom: 90px;
      z-index: 6;
    }
  }
}

@keyframes spinnerElement {
  0% { transform: rotate(0deg); border-width: 12px }
  50% { transform: rotate(180deg); border-width: 12px }
  100% { transform: rotate(360deg); border-width: 12px }
}
