$background-color: #151B20;
$text-color: white;
$button-background-color: #0A0C0E;
$button-background-color-hovered: #0e1212;
$text-hover-color: #d9d9d9;
$tag-color: #962f2f;
$card-form-background-color: #0A0C0E;
$card-form-background-color-hovered: #0e1212;
$title-color: white;
$status-color: #33FF9D;

$suggestion-button-color: #0A0C0E;
$suggestion-button-color-hovered: #0e1212;
