$background-color: #101417;
$text-color: white;
$button-background-color: #101417;
$button-active-background-color: #101417;
$text-hover-color: #d9d9d9;
$tag-color: #962f2f;
$card-form-background-color: #0A0C0E;
$title-color: white;
$status-color: darkseagreen;
