$background-color: #151B20;
$text-color: white;
$button-background-color: #0A0C0E;
$button-background-color-hovered: #0e1212;
$text-hover-color: #d9d9d9;
$tag-color: #962f2f;
$card-form-background-color: #0A0C0E;
$card-form-background-color-hovered: #0e1212;
$title-color: white;
$status-color: #33FF9D;

$suggestion-button-color: #0A0C0E;
$suggestion-button-color-hovered: #0e1212;

$font-color: #eaeaea;
$font-color-disabled: #808080;
$border-color: #a2a2a2;
$alert-color: #ec0c0c;
$btn-background-color: #1e252b;
$btn-font-color: #9b9b9b;
$btn-hover-color: #0a0d0e;
$input-shadow: #b0b0b0;


$main-title-loginout: 40px;
$second-title-loginout: 18px;

$page-title: 30px;

$header-font-size: 20px;

$card-title-font-size: 18px;
$card-stars-font-size: 30px;
$card-button-font-size: 16px;

$suggestion-bar-title: 18px;

$suggestion-card-title: 18px;
$suggestion-card-status: 14px;