@import "signup_login.css";

@font-face {
    font-family: "MontserratMedium";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

a {
    display: block;
}
