html, body {
    height: 100%;
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'MontserratMedium', sans-serif;
}

.login-signup {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-signup__content {
    position: relative;
    margin: 80px auto auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__title {
    font-size: 40px;
    margin-bottom: 16px;
}

.content__title-hint {
    font-size: 16px;
    margin-bottom: 20px;
}

.content__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 424px;
}

.form__form-content {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    max-width: 100%;
    padding: 24px;
    margin-bottom: 32px;
}

.form_content__inputs {
    margin-bottom: 20px;
}

.inputs__input-wrapper {
    margin-bottom: 12px;
}

.inputs__input-wrapper:last-child {
    margin-bottom: 0;
}

.input-wrapper__input {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 12px 16px;
    color: var(--font-color);
    font-size: 20px;
    font-family: 'MontserratMedium', sans-serif;
}

.input-wrapper__input_error {
    border: 1px solid var(--alert-color);
}

.form-content__hint {
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: left;
}

.form-content__button {
    background-color: var(--btn-background-color);
    color: var(--btn-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    font-family: 'MontserratMedium', sans-serif;
    padding: 12px 20px 12px;
    margin-bottom: 20px;
    cursor: pointer;
}

.form-content__button:hover {
    background-color: var(--btn-hover-color);
}

.form-content__have-acc {
    font-size: 16px;
}

.have-acc__link {
    margin-left: 2px;
    color: var(--alert-color);
}

.networks__title {
    margin-bottom: 12px;
    font-size: 16px;
}

.networks__content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.networks__button {
    border: none;
    background-color: var(--background-color);
    padding: 0;
    cursor: pointer;
}

.networks__img {
    width: 40px;
    height: 40px;
}
