include ../TopSlider/TopSlider
include ../BottomSlider/BottomSlider

div.item__page-title С наивысшим рейтингом

div.slider__container
    div(class="container non-scrollable")
        +TopSlider(cardFilms)
    img(class="slider-film-card__item slider-film-card__item-left js-slider-left-FilmCard" src= "../../assets/SliderLeftButton.webp" alt= "")
    img(class="slider-film-card__item slider-film-card__item-right js-slider-right-FilmCard" src= "../../assets/SliderRightButton.webp" alt= "")

div.item__page-title Новые фильмы

div.slider__container
    div(class="suggestion-film__list new_films non-scrollable")
        +BottomSlider(newFilms)
    img(class="slider-suggestion-card__item slider-suggestion-card__item-left js-slider-left-NewFilms" src= "../../assets/SliderLeftButton.webp" alt= "")
    img(class="slider-suggestion-card__item slider-suggestion-card__item-right js-slider-right-NewFilms" src= "../../assets/SliderRightButton.webp" alt= "")

div.item__page-title Новые сериалы

div.slider__container
    div(class="suggestion-film__list new_series non-scrollable")
        +BottomSlider(newSeries)
    img(class="slider-suggestion-card__item slider-suggestion-card__item-left js-slider-left-NewSeries" src= "../../assets/SliderLeftButton.webp" alt= "")
    img(class="slider-suggestion-card__item slider-suggestion-card__item-right js-slider-right-NewSeries" src= "../../assets/SliderRightButton.webp" alt= "")
