.line-underheader {
  border: 0;
  height: 1.5px;
  margin-bottom: 30px;
  background: linear-gradient(127deg, rgba(255, 0, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
  linear-gradient(217deg, rgba(255, 255, 255, 0.8), rgba(255, 0, 0, 0) 70.71%);
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 4px;
}
