include ../TopSlider/TopSlider
include ../BottomSlider/BottomSlider

// -
//     const genres = [
//         {
//             title: 'Ужасы',
//             genre: 'horror',
//             src: '../../assets/genresAssets/horror.svg'
//         },
//         {
//             title: 'Боевики',
//             genre: 'action',
//             src: '../../assets/genresAssets/action.svg'
//         },
//         {
//             title: 'Аниме',
//             genre: 'anime',
//             src: '../../assets/genresAssets/anime.svg'
//         },
//         {
//             title: 'Авторское',
//             genre: 'author',
//             src: '../../assets/genresAssets/author.svg'
//         },
//         {
//             title: 'Биографии',
//             genre: 'biography',
//             src: '../../assets/genresAssets/biography.svg'
//         },
//         {
//             title: 'Мультфильмы',
//             genre: 'cartoon',
//             src: '../../assets/genresAssets/cartoon.svg'
//         },
//         {
//             title: 'Комедии',
//             genre: 'comedy',
//             src: '../../assets/genresAssets/comedy.svg'
//         },
//         {
//             title: 'Криминальные',
//             genre: 'criminal',
//             src: '../../assets/genresAssets/criminal.svg'
//         },
//         {
//             title: 'Детективы',
//             genre: 'detective',
//             src: '../../assets/genresAssets/detective.svg'
//         },
//         {
//             title: 'Документальные',
//             genre: 'documentary',
//             src: '../../assets/genresAssets/documentary.svg'
//         },
//         {
//             title: 'Драмы',
//             genre: 'drama',
//             src: '../../assets/genresAssets/drama.svg'
//         },
//         {
//             title: 'Семейные',
//             genre: 'family',
//             src: '../../assets/genresAssets/family.svg'
//         },
//         {
//             title: 'Фэнтехи',
//             genre: 'fantasy',
//             src: '../../assets/genresAssets/fantasy.svg'
//         },
//         {
//             title: 'Исторические',
//             genre: 'historical',
//             src: '../../assets/genresAssets/historical.svg'
//         },
//         {
//             title: 'Мелодрамы',
//             genre: 'melodrama',
//             src: '../../assets/genresAssets/melodrama.svg'
//         },
//         {
//             title: 'Военные',
//             genre: 'military',
//             src: '../../assets/genresAssets/military.svg'
//         },
//         {
//             title: 'Мистические',
//             genre: 'mystic',
//             src: '../../assets/genresAssets/mystic.svg'
//         },
//         {
//             title: 'Фантастические',
//             genre: 'sci-fi',
//             src: '../../assets/genresAssets/sci-fi.svg'
//         },
//         {
//             title: 'Спортивные',
//             genre: 'sport',
//             src: '../../assets/genresAssets/sport.svg'
//         },
//         {
//             title: 'Триллеры',
//             genre: 'thriller',
//             src: '../../assets/genresAssets/thriller.svg'
//         },
//         {
//             title: 'Вестерны',
//             genre: 'western',
//             src: '../../assets/genresAssets/western.svg'
//         },
//     ]
//     if (isFilm) {
//         genres.push(
//             {
//             title: 'Короткометражки',
//             genre: 'short',
//             src: '../../assets/genresAssets/short.svg'
//             }
//         )
//     }


if isFilm
    div.item__page-title Фильмы с наивысшим рейтингом
else
    div.item__page-title Сериалы с наивысшим рейтингом

div.container
    +TopSlider(cardContent)

div.item__page-title Жанры

div.suggestion-film__list.genres
    each i in genres
        div.item__internal(id= i.name.toLowerCase() data-genre= i.label_rus)
            img.item__suggestion__image(src= 'http://localhost:8081'+i.image)
if isFilm
    div.item__page-title Новые фильмы
else
    div.item__page-title Новые сериалы

div.suggestion-film__list.new_films
    +BottomSlider(newContent)
