@import 'components/Header/Header';
@import 'components/CardForm/CardForm';
@import 'components/SuggestionBar/SuggestionBar';
@import 'components/SuggestionForm/SuggestionForm';
@import 'components/Underline/Underline';
//@import 'components/DetailForm/DetailForm';
@import 'css/consts';

@font-face {
  font-family: "MontserratMedium";
  src: url("fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

head, body {
  font-family: 'MontserratMedium', sans-serif;
  background-color: $background-color;
  color: $text-color;
}

.container {
  display: flex;
  overflow-x: auto;
  height: auto;
}

.item__button {
  height: 32px;
  font-size: 15px;
  padding: 0 15px;
  background-color: $button-background-color;

  border-radius: 12px;
  color: $text-color;

  cursor: pointer;
  transition: 0.15s ease-in;

}

.item__button:hover {
  transform: translateY(-2px);
  background-color: $button-background-color-hovered;
  color: $text-hover-color;
}

button:hover {
  background-color: $button-background-color;
  color: $text-hover-color;
}

button:active {
  background-color: $button-background-color-hovered;
}

button:focus {
  outline: none;
}

button[disabled] {
  opacity: 0.48;
  pointer-events: none;
  user-select: none;
}

a:hover {
  opacity: 0.84;
}

.error {
  color: red;
}

* {
  box-sizing: border-box;
}

.item__page-title {
  font-weight: 600;
  font-size: 30px;
  margin: 15px 35px 15px 35px;
}
