@charset "UTF-8";
header {
  margin: 16px auto;
  max-width: 90%;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-logo {
  max-width: 176px;
  max-height: 44px;
}
header img {
  max-width: 85%;
}
header .header-form {
  list-style-type: none;
}
header .header-form li {
  display: inline-block;
  margin-right: 75px;
}
header .header-form a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: 0.25s ease;
}
header .header-form a:hover {
  color: #b7b7b7;
}
header .header-form__profile {
  display: -ms-flex;
  display: flex;
  align-items: center;
}
header .header-form__profile .header-form__profile__link {
  margin-right: 24px;
  display: -ms-flex;
  display: flex;
  align-items: center;
  max-width: 34px;
  max-height: 34px;
  transition: 0.25s ease;
  color: #b7b7b7;
}

.item__film-card:first-child {
  margin-left: 30px;
}

.item__film-card {
  margin: 15px;
  background-color: #0A0C0E;
  padding: 30px;
  border-radius: 12px;
  width: 520px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  transition: 0.25s ease-in;
}
.item__film-card .item__image {
  width: 220px;
  height: 300px;
  justify-content: center;
  display: flex;
}
.item__film-card .item__image img {
  object-fit: contain;
  border-radius: 20px;
  width: 220px;
  height: 300px;
  cursor: pointer;
}
.item__film-card .item__details {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.item__film-card .item__details .item__film-card__title {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}
.item__film-card .item__details .item__film-card__title > a {
  text-decoration: none;
  color: white;
}
.item__film-card .item__details .item__film-card__stars {
  position: relative;
  font-size: 28px;
  font-weight: 900;
}
.item__film-card .item__details .item__film-card__description {
  position: relative;
  word-spacing: 6px;
  font-weight: 400;
}
.item__film-card .item__details .item__film-card__buttons {
  margin-block-start: auto;
  display: flex;
  justify-content: start;
}
.item__film-card .item__details .item__film-card__buttons .item__button-title {
  text-align: center;
  border: 2px solid #fff;
  /* Белая рамка */
  border-radius: 10px;
  padding: 8px 6px;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.24s ease-in-out;
}
.item__film-card .item__details .item__film-card__buttons .item__button-title:hover {
  opacity: 0.75;
  transform: translateY(-4px);
}
.item__film-card .item__details .item__film-card__buttons .item__button-img {
  padding-left: 8px;
  cursor: pointer;
  transition: 0.24s ease-in-out;
}
.item__film-card .item__details .item__film-card__buttons .item__button-img img {
  width: 38px;
  height: 38px;
}
.item__film-card .item__details .item__film-card__buttons .item__button-img:hover {
  opacity: 0.75;
  transform: translateY(-4px);
}

.item__film-card:hover {
  background-color: #0e1212;
  transform: scale(1.04);
}

.item__suggestion-bar {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px 15px 30px;
  display: flex;
  height: 112px;
}
.item__suggestion-bar .item__suggestion-button {
  width: 50%;
  margin: 0 25px;
  background-color: #0A0C0E;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.item__suggestion-bar .item__suggestion-button .items__container {
  padding: 18px 0;
  display: flex;
  vertical-align: middle;
  align-self: center;
  text-align: center;
  justify-content: center;
}
.item__suggestion-bar .item__suggestion-button .items__container .item__image {
  width: 48px;
  height: 48px;
}
.item__suggestion-bar .item__suggestion-button .items__container .item__title {
  padding: 12px 10px;
  height: 20px;
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
}
.item__suggestion-bar .item__suggestion-button:hover {
  background-color: #0e1212;
  transform: scale(1.024);
}

.item__suggestion {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 1em;
  padding: 20px 30px 20px 30px;
}

.suggestion-film__list {
  display: flex;
  overflow-x: auto;
  height: 356px;
  gap: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.suggestion-film__list .item__internal:first-child {
  margin-left: 30px;
}
.suggestion-film__list .item__internal {
  margin-left: 20px;
  width: 180px;
  background: none;
  display: grid;
  transition: all 0.15s ease-in-out;
}
.suggestion-film__list .item__internal .item__suggestion__image {
  object-fit: contain;
  border-radius: 12px;
  cursor: pointer;
}
.suggestion-film__list .item__internal:hover {
  transform: translateY(-5px) scale(1.02);
}
.suggestion-film__list .item__suggestion__title {
  padding-top: 5px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 18px;
  justify-items: left;
}
.suggestion-film__list .item__suggestion__title > a {
  text-decoration: none;
  color: white;
}
.suggestion-film__list .item__suggestion__status {
  padding: 5px 0 15px 10px;
  font-size: 14px;
  font-weight: 300;
  justify-items: left;
  color: #33FF9D;
}

.line-underheader {
  border: 0;
  height: 1.5px;
  margin-bottom: 30px;
  background: linear-gradient(127deg, rgba(255, 0, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(217deg, rgba(255, 255, 255, 0.8), rgba(255, 0, 0, 0) 70.71%);
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 4px;
}

.row {
  clear: both;
  margin: 20px;
}

.detail_preview {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
}
.detail_preview .detail_preview-left {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.detail_preview .detail_preview-left .detail-preview__image {
  margin-bottom: 20px;
}
.detail_preview .detail_preview-left .detail-preview__image img {
  width: 95%;
  border-radius: 24px;
}
.detail_preview .detail_preview-left .detail_description__buttons {
  justify-content: space-between;
  margin-bottom: 10px;
}
.detail_preview .detail_preview-left .detail_description__buttons .button__item {
  width: 24%;
}
.detail_preview .detail_preview-right {
  padding-left: 10px;
  width: 44%;
}
.detail_preview .detail_preview-right .detail_preview__title {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 15px;
}
.detail_preview .detail_preview-right .detail_preview__tags {
  display: flex;
  font-size: 18px;
  padding-bottom: 15px;
}
.detail_preview .detail_preview-right .detail_preview__tags .item__type {
  flex-direction: column;
  background: #962f2f;
  border-radius: 6px;
  outline: none;
  color: var(--white);
  text-align: center;
  padding: 5px;
}
.detail_preview .detail_preview-right .detail_preview__tags .item__marks {
  background: #962f2f;
  border-radius: 6px;
  margin-left: 10px;
  outline: none;
  color: var(--white);
  text-align: center;
  padding: 5px;
}
.detail_preview .detail_preview-right .description__items {
  display: flex;
  margin-bottom: 15px;
}
.detail_preview .detail_preview-right .country__title {
  font-size: 18px;
  font-weight: 550;
  margin-right: 8px;
}
.detail_preview .detail_preview-right .country__text {
  font-size: 18px;
}
.detail_preview .detail_preview-right span {
  display: flex;
}

.detail_description {
  max-width: 1300px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.detail_description .detail_description-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail_description .detail_description-left .detail_description__text {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 15px;
  word-spacing: 2px;
}
.detail_description .detail_description-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-signup {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-signup__content {
  position: relative;
  margin: 80px auto auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__title {
  font-size: 40px;
  margin-bottom: 16px;
}

.content__title-hint {
  font-size: 16px;
  margin-bottom: 20px;
}

.content__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 424px;
}

.form__form-content {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  max-width: 100%;
  padding: 24px;
  margin-bottom: 32px;
}

.form_content__inputs {
  margin-bottom: 20px;
}

.inputs__input-wrapper {
  margin-bottom: 12px;
}

.inputs__input-wrapper:last-child {
  margin-bottom: 0;
}

.input-wrapper__input {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 16px;
  color: var(--font-color);
  font-size: 20px;
  font-family: "MontserratMedium", sans-serif;
}

.input-wrapper__input_error {
  border: 1px solid var(--alert-color);
}

.input-wrapper__input_disabled {
  color: var(--font-color-disabled);
}

.form-content__hint {
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: left;
}

.form-content__button {
  background-color: var(--btn-background-color);
  color: var(--btn-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  font-family: "MontserratMedium", sans-serif;
  padding: 12px 20px 12px;
  margin-bottom: 20px;
  cursor: pointer;
}

.form-content__button:hover {
  background-color: var(--btn-hover-color);
}

.form-content__have-acc {
  font-size: 16px;
}

.have-acc__link {
  margin-left: 2px;
  color: var(--alert-color);
}

.networks__title {
  margin-bottom: 12px;
  font-size: 16px;
}

.networks__content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.networks__button {
  border: none;
  background-color: var(--background-color);
  padding: 0;
  cursor: pointer;
}

.networks__img {
  width: 40px;
  height: 40px;
}

.form-content__button:focus {
  outline: none;
}

.input-wrapper__input:focus {
  outline: none;
  box-shadow: 0 0 12px var(--input-shadow);
}

.profile {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  position: relative;
  margin: 80px auto auto;
  width: auto;
}

.profile-content__title-wrapper {
  font-size: 36px;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.title-wrapper__nickname {
  margin-left: 20px;
}

.profile-content__inputs {
  font-size: 24px;
  width: 100%;
}

.form__input-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.input-wrapper__label {
  padding-top: 12px;
  min-width: 100px;
}

.input-wrapper__input-avatar {
  display: flex;
  flex-direction: row;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#file + label {
  padding: 12px 20px 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  margin-left: 0;
}

.input-avatar__input-wrapper {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}

.input-wrapper__img {
  align-self: center;
  margin-bottom: 12px;
}

.input-wrapper__button {
  width: auto;
  margin-left: 32px;
  cursor: pointer;
}

.input-wrapper__button:hover {
  background-color: var(--btn-hover-color);
}

.input-wrapper__input-with-error {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

@font-face {
  font-family: "MontserratMedium";
  src: url("fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html, body {
  font-family: "MontserratMedium", sans-serif;
  height: 100%;
  color: white;
  background-color: #151B20;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --background-color: 151B20;
  --font-color: #eaeaea;
  --font-color-disabled: #808080;
  --border-color: #a2a2a2;
  --alert-color: #ec0c0c;
  --btn-background-color: #1e252b;
  --btn-font-color: #9b9b9b;
  --btn-hover-color: #0a0d0e;
  --input-shadow: #b0b0b0;
}

.container {
  display: flex;
  overflow-x: auto;
  height: auto;
}

.item__button {
  height: 32px;
  font-size: 15px;
  padding: 0 15px;
  background-color: #0A0C0E;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.item__button:hover {
  transform: translateY(-2px);
  background-color: #0e1212;
  color: #d9d9d9;
}

a:hover {
  opacity: 0.84;
}

a {
  text-decoration: none;
}

a.main-page__href {
  display: block;
}

.error {
  margin-top: 4px;
  color: var(--alert-color);
  overflow: hidden;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

.item__page-title {
  font-weight: 600;
  font-size: 30px;
  margin: 15px 35px 15px 35px;
}