@import 'components/SuggestionCard/SuggestionCard';
@import 'components/SuggestionBar/SuggestionBar';
@import 'components/DetailForm/DetailForm';
@import 'components/Underline/Underline';
@import 'components/FilmCard/FilmdCard';
@import 'components/Header/Header';

@import 'css/SignupLogin';
@import 'css/Profile';
@import 'css/Consts';

@font-face {
  font-family: "MontserratMedium";
  src: url("fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html, body {
  font-family: 'MontserratMedium', sans-serif;
  height: 100%;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {

}

.container {
  display: flex;
  overflow-x: auto;
  height: auto;
}

.item__button {
  height: 32px;
  font-size: 15px;
  padding: 0 15px;
  background-color: $button-background-color;

  border-radius: 12px;
  color: $text-color;

  cursor: pointer;
  transition: 0.15s ease-in;
}

.item__button:hover {
  transform: translateY(-2px);
  background-color: $button-background-color-hovered;
  color: $text-hover-color;
}

a:hover {
  opacity: 0.84;
}

a {
  text-decoration: none;
}

a.main-page__href {
  display: block;
}

.error {
  margin-top: 4px;
  color: $alert-color;
  overflow: hidden;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

.item__page-title {
  font-weight: 600;
  font-size: $page-title;
  margin: 15px 35px 15px 35px;
}
