include ../../components/Form/Form.pug

-
    const inputs = [
            {
                placeholder: 'Email',
                type: 'email',
            },
            {
                placeholder: 'Пароль',
                type: 'password',
            }
            ]

    const networksAuth = [
        {
            src: 'img/google.svg',
        },
        {
            src: 'img/facebook.svg',
        },
        {
            src: 'img/vk.svg',
        }
        ]

    const buttonName = 'Войти'


div.login-signup
    div.login-signup__content
        div.content__title Вход
        div.content__title-hint Войдите для просмотра фильмов и сериалов
        div.content__form
            div.form__form-content
                +form(inputs, buttonName)
                div.form-content__networks
                    div.networks__title Или войдите с помощью социальных сетей
                    div.networks__content
                        for networksSrc in networksAuth
                            div.networks__img
                                button.networks__button
                                    img.networks__img(src=networksSrc.src alt="")
                div.form-content__have-acc Еще нет аккаунта?
                    a(class="have-acc__link" href="/") Зарегистрируйтесь!
