include ../../components/Form/Form.pug
include ../../components/AuthWithNetworks/AuthWithNetworks.pug

div.login-signup
    div.login-signup__content
        div.content__title Вход
        div.content__title-hint Войдите для просмотра фильмов и сериалов
        div.content__form
            div.form__form-content
                +customForm(inputs, buttonName)
                +authWithNetworks(networksAuth)
                div.form-content__have-acc Еще нет аккаунта?
                    a(class="have-acc__link" href="login.html") Зарегистрируйтесь!
